version: '3.8'
services:
  strapi: 
    container_name: strapi
    restart: unless-stopped
    build:
      context: ./strapi
      dockerfile: Dockerfile
    env_file: ./strapi/.env
    environment:
      - DATABASE_CLIENT=postgres
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_NAME=strapi
      - DATABASE_USERNAME=admin
      - DATABASE_PASSWORD=password
    ports:
      - 1337:1337
    volumes:
      - ./strapi:/app/strapi
    depends_on:
      - db
    networks:
      - app-network

  db:
    container_name: postgres
    image: postgres:14.1-alpine
    restart: always
    environment:
      POSTGRES_DB: strapi
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432
    volumes:
      - ./data:/var/lib/postgresql/data
    networks:
      - app-network

  client:
    container_name: client
    restart: unless-stopped
    build:
      context: ./client
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    env_file: ./client/.env
    depends_on:
      - strapi
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app/client
    networks:
      - app-network
#Docker Networks
networks:
  app-network:
    driver: bridge
# #Volumes
volumes:
  data:
    driver: local