version: '3.8'
services:
  # strapi:
  #   container_name: strapi
  #   image: strapi/strapi
  #   restart: unless-stopped
  #   environment:
  #     - DATABASE_CLIENT=postgres
  #     - DATABASE_HOST=db
  #     - DATABASE_PORT=5432
  #     - DATABASE_NAME=strapi
  #     - DATABASE_USERNAME=strapi
  #     - DATABASE_PASSWORD=strapi
  #   ports:
  #     - 1337:1337
  #   volumes:
  #     - ./server:/app/strapi
  #   depends_on:
  #     - postgres
  #   networks:
  #     - strapi-app-network
  
  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - ./data:/var/lib/postgresql/data

  # pgadmin:
  #   container_name: container-pgadmin
  #   image: dpage/pgadmin4
  #   depends_on:
  #     - postgres
  #   ports:
  #     - "5050:80"
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: admin@admin.com
  #     PGADMIN_DEFAULT_PASSWORD: root
  #   restart: unless-stopped

  client:
    build: 
      context: ./client
      dockerfile: Dockerfile
    container_name: client
    volumes:
      - ./client:/app/client
      - /app/node_modules
    stdin_open: true
    tty: true
    env_file: ./client/.env
    depends_on:
      - server
    ports:
      - "3000:3000"

# networks:
#   strapi-app-network:
#     driver: bridge

# volumes:
#   data:
